# To add you or your team as a collaborator, add a github tag (either a username
# or org/team name) separated by a space to the CODEOWNERS line below and a
# commented line explaining who each tag represents.

# @pgo-webhook-collaborators/PokeAlarm - The PokeAlarm Team
# @pgo-webhook-collaborators/RealDeviceMap - The RealDeviceMap Team
# @pgo-webhook-collaborators/Map-A-Droid - The Map-A-Droid Team

*	@pgo-webhook-collaborators/PokeAlarm @pgo-webhook-collaborators/RealDeviceMap @pgo-webhook-collaborators/Map-A-Droid
